<h1><%= "#{@pirate.name}, #{@pirate.height}, #{@pirate.weight}" %></h1>


<h2><%=  "#{@ship_1.name}, #{@ship_1.type}, #{@ship_1.booty}"%></h2>


<h2><%=  "#{@ship_2.name}, #{@ship_2.type}, #{@ship_2.booty}" %></h2>
